@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


body{
    margin:0;
    padding:0;
    font-family:poppins;
}

/*header start*/

.header{
    width:40%;
    float:left;
    margin-left:100px;
}



.header h2{
    color:orange;
    font-size:40px;
}

.header h1{
    font-size:50px;
}

.header img{
    width:450px;
    margin-left:150px;
}
#button{
    border:1px solid rgb(252, 112, 205);
    background-color:rgb(252, 112, 205);
    color:white;
    height:55px;
    width:120px;
    font-family:poppins;
    font-size:18px;
    cursor:pointer;
}
.first-part{
    background-image:url("images/top-banner.png");
    background-repeat:no-repeat;
   
}
/*header end*/
/*header-2 start*/
.header-2 h2{
    color:orange;
    font-size:40px;
}

.header-2 h1{
    font-size:50px;
}

.header-2 img{
    width:400px;
 
}
.header-2{
    width:40%;
    float:left;
    margin:25px;
}
.btn{
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
    border:none;
    border-radius:50px;
    color:white;
    height:55px;
    width:135px;
    font-family:poppins;
    font-size:18px;
    cursor:pointer;
}
/*header-2 end*/






section{
    height:550px;
}


/*start box-area


.box-area{
    height:500px;
}


.box-area .header{
    border-left:7px solid;
   border-image: linear-gradient( 135deg, #E2B0FF 10%, #9F44D3 100%);
    border:none;
    color:black;
   padding:5px;
   height:60%;
   transition:.2s;


}


.box-area{
    background-image:url("images/exp-bg.png");
    background-repeat:no-repeat;
    background-position:left;
}



i{
    margin-left:240px;
    size:55px;
   
}

/*box-area end*/

.part-2{
    background-image:url("images/dream-bg.png");
    background-repeat:no-repeat;
    background-position:right;

}

.project-area img{
  
    height:150px;
    margin-left:50px;
}

.project-area{
    border:none;
    width:400px;
    margin-left:80px;
}

.project-area{
    width:25%;
    float:left;
}

.project-area p{

text-align:center;


}

.box h2{

    background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
    border-radius:25px;
    color:white;
    padding-left:200px;
    padding-top:50px;
    width:350px;
    height:100px;
    margin-left:400px;
}